<header class="flex justify-between text-[#fff] items-center transition-all">
 <h1 class="font-bold text-[2.5rem] tracking-[0.9375rem]">TODO</h1>
 <div>
  <button (click)="toggleTheme()" [class]="isDarkMode ? 'block':'hidden'" class="animate-wiggle">
    <img src='../assets/images/icon-sun.svg' alt="sun-icon"/>
  </button>
  <button (click)="toggleTheme()" [class]="isDarkMode ? 'hidden':'block'" class="animate-wiggle">
    <img src='../assets/images/icon-moon.svg' alt="moon-icon"/>
  </button>
 </div>
</header>