<header class="w-full mt-[3rem] ">
  <section class="mx-auto w-[33.75rem] mobile:w-[20.4375rem] flex justify-between text-[#fff] items-center ">
    <h1 class="font-bold text-[2.5rem] tracking-[0.9375rem]">TODO</h1>
    <div>
      <button (click)="toggleTheme()" [class]="isDarkMode ? 'block':'hidden'" class="animate-wiggle" >
        <img src='../assets/images/icon-sun.svg' alt="sun-icon"/>
      </button>
      <button (click)="toggleTheme()" [class]="isDarkMode ? 'hidden':'block'" class="animate-wiggle" >
        <img src='../assets/images/icon-moon.svg' alt="moon-icon"/>
      </button>
    </div>
  </section>
</header>
