<main>
   <section class="flex gap-2 p-6 w-full h-[4rem] text-[1.125rem] rounded-[0.3125rem] items-center" [class]="isDarkMode ? 'bg-[#25273D]': 'bg-[#fff]'">
      <div class="w-6 h-6 border rounded-full" (click)="toggleRadio()">
        <div class="w-full h-full rounded-full "></div>
      </div>
      <input type="text" title="text" [(ngModel)]="todoInput" placeholder="Create new todo..." [class]="isDarkMode ? 'text-[#767992] placeholder:text-[#767992] bg-[#25273D]':'text-[#949565] placeholder:text-[#949565] bg-[#fff]'" class="focus:outline-none w-full"/>
   </section>
   <section></section>
<main>